.banner {
    background-image: url(/img/banner.jpg);
    background-color: rgb(150, 149, 149);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
}
p{
    margin: 0 !important;
}
.my-praymary-color {
    color: #ff545a;
}

.my-praymary-bg {
    background: #ff545a;
}

.my-nav-link {
    color: gray;
    text-decoration: none;
}

.my-nav-link:hover {
    color: #ff545a;
}

.my-nav-link:active {
    color: #ff545a;
}

.banner-py {
    padding-top: 180px;
    padding-bottom: 280px;
}

.banner-title {
    font-size: 48px;
    color: white;
    font-weight: 700;
    margin-bottom: 50px;
}
.banner-buttom-section-m{
    margin-top: -80px;
}
.flex-1{
    flex: 1;
}
.section-mt{
    margin-top: 100px;
}
.section-pt{
    padding: 100px;
}
.sub-section-mt{
    margin-top: 80px !important;
}

.card-hover:hover  {
    background: #ff545a !important;
    color: white !important;
    box-shadow: 0 0 10px rgba(71, 71, 71, .4) !important;
    transition: 500ms !important;
}
.card-hover:hover .card-logo-bg{
    background-color: white !important;
    color: #ff545a !important;
    transition: 500ms !important;
}
.card-hover:hover .card-btn{
    background-color: white !important;
    color: #ff545a !important;
    border: none;
    transition: 500ms !important;
}

.manu-bar {
    position: sticky !important;
    top: 10px !important;
}

/* carosol */


.pad {
    padding-top:4rem;
    width:90%;
  }
  
  .g-card {
    box-shadow: rgba(46, 61, 73, 0.15) 8px 10px 20px 0px;
      box-sizing: border-box;
      color: rgb(82, 92, 101);
    border-radius: 6px 6px 6px 6px;
    caret-color: rgb(82, 92, 101);
      background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 3px solid #02b3e4;
  }
  .g-card h4{
    text-align:center;
  }
  .g-card img {
    box-shadow: rgba(46, 61, 73, 0.15) 8px 10px 20px 0px;
    border-radius: 50% 50% 50% 50%;
    margin: -30px auto auto auto;
    display:block;
  }
  .carousel .carousel-item>img {
      width: initial;
  }
  .carousel .carousel-item>p {
    padding:1rem;
    text-align-last:center;
  }
  .carousel {
    height:100vh;
  }
  .carousel .carousel-item {
    height:initial;
  }
  .carousel .carousel-item {
    width:40%;
  }
  .pad.hide-on-med-and-up .g-card{
    margin-top:1rem;
    margin-bottom:2rem;
  }


@media (min-width: 992px) {
    .my-my {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .my-py {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
}

@media (max-width: 991px) {
    .my-my {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .my-py {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}